<nav class="nav">
  <a routerLink="/" class="nav__logo">
    <p class="code">Code</p>
    <p class="fans">Fans</p>
  </a>

  <ul class="nav__menu">
    <li class="nav__menu-item">
      <a routerLink="/" class="nav__link">Trang chủ</a>
      <div class="nav__underline"></div>
    </li>
    <li class="nav__menu-item">
      <a routerLink="/" class="nav__link">Tìm kiếm</a>
      <div class="nav__underline"></div>
    </li>
    <li class="nav__menu-item">
      <a routerLink="/" class="nav__link">Hướng dẫn</a>
      <div class="nav__underline"></div>
    </li>
    <li class="nav__menu-item">
      <a routerLink="/" class="nav__link">Về tác giả</a>
      <div class="nav__underline"></div>
    </li>
    <li class="nav__menu-item">
      <a routerLink="/" class="nav__button">Bài viết</a>
    </li>
  </ul>
</nav>
