@import "./theme";

html {
  scroll-behavior: smooth;
}

.app-container {
  padding: 0 60px;
  padding-top: 100px;
  background-color: $blue5;
}

@media only screen and (max-width: 1024px) {
  .app-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
