@import "../../theme";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400;500;700&display=swap');

.nav {
  background-color: rgba($color: $blue4, $alpha: 0.5);
  width: 100vw;
  height: 100px;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10000;
  transition: all .1s;

  &__logo {
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
  }

  &__menu-item {
    padding: 0;
    margin: 0;

    &:hover .nav__underline {
      width: 100%;
    }
  }

  &__menu-icon {
    width: 60px;
    height: 60px;
    color: white;
    position: fixed;
    z-index: 10004;
    right: 10px;
  }

  &__underline {
    height: 2px;
    width: 0;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all .3s;
  }

  &__button {
    padding: 8px 12px;
    color: $blue1;
    text-decoration: none;
    border: 2px solid #D6E8EE;
    font-size: 20px;
    border-radius: 6px;
    transition: all .3s;

    &:hover {
      background-color: $blue1;
      color: $blue5;
    }
  }


  &__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10002;
  }

  &__box {
    height: 100vh;
    width: min(400px, 75vw);
    background-color: $blue3;
    z-index: 10003;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    right: -100%;
    transition: all .3s;
    padding: 50px 0;

    &--active {
      right: 0;
    }
  }

  &--scroll-down {
    height: 70px;
    background-color: $blue4;
  }
}


.code,
.fans {
  display: inline;
  font-family: 'Abril Fatface', 'Roboto', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 45px;
}

.code {
  color: $blue2;
}

.fans {
  color: $blue1;
}

@media only screen and (max-width: 1024px) {
  .nav {
    padding-left: 20px;
  }
}
